        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f5f5f5;
        }
        header {
            background-color: #333;
            color: white;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        main {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
        }

        #carto {
            
            width: 100%;
            height: 600px;
            display: grid;
	    place-items: center;
        }