        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f5f5f5;
        }
        header {
            background-color: #333;
            color: white;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        main {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
        }



/* Gestion des colonnes et des lignes pour les cartes et le tooltip */

        #wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px  ;
            grid-template-rows: repeat(4, 1fr);
        }

        #carto {
            grid-column: 1 / 4;
            grid-row: 1 / 4 ;
        }

        #carto-france {
            grid-column: 4;
            grid-row: 1 / 2 ;
            border-color: #f5f5f5;
            border-width: 2px;
            border-style: solid;
            border-color: #444444;
        }

        .legend {
            grid-column: 4;
            grid-row: 2 / 3 ;
        }